<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <!-- Required Meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
             <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- css link  -->
          	<link rel="stylesheet" href="../static/css/style.css">

            <title>NBA Fantasy Destroyer</title>

  </head>

  <!-- Navbar-Beginning -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a id="logo"class="navbar-brand" href="index.html">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="http://www.nba.com/fantasy/">NBA Fantasy<span class="sr-only">(current)</span></a>
                  </li>
                            <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Fantasy Websites
                                </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="http://www.espn.com/fantasy/basketball/">ESPN Fantasy</a>
                                    <a class="dropdown-item" href="https://basketball.fantasysports.yahoo.com/">Yahoo fantasysports</a>
                                    <a class="dropdown-item" href="https://www.cbssports.com/fantasy/games/basketball/">CBS Fantasy Basketball</a>
                                    <a class="dropdown-item" href="http://www.rotoworld.com/sports/nba/basketball?ls=roto:nba:gnav">RotoWorld NBA</a>

                                  </div>
                              </li>
                <li class="nav-item active">
                  <a class="nav-link" href="../static/template.html">Fantasy Analysis<span class="sr-only">(current)<span></a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="../static/about.html">About<span class="sr-only">(current)<span></a>

                </li>
          </li>
         </ul>
      </div>
</nav>
<!-- Navbar-End  -->
  <!-- body  -->
  <body>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Welcome to your One-Stop Fantasy Dashboard </h1>

          </div>


        </div>

              <div class="row">
                  <div id="parallax" class="col-sm-12">


                  </div>

            </div>

            <div class="row">
              <div id="center-box"class="col-md-12">
                <h3> GET READY TO BE THE BEST !</h3>
                <p>This page will guide you through this wonderful world we call fantasy basketball.
                  This interactive dashboard have all the tools you need to be the MVP of your fantasy basketball team and
                  crush the competition.</p>
              </div>

            </div>


              <div class="row">
                  <div id="parallax1" class="col-sm-12">

                  </div>

              </div>


              <div class="row">
                        <div class="col-md-4">

                                          <!-- <div id="sidebar"> -->
                                            <h2>Top News</h2>

                                            <!-- test for card -->
                                              <div class="card" style="width: 18rem;">
                                                    <img class="card-img-top" src="{{fantasy.news_img}}" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h5 class="card-title">headlines</h5>
                                                        <p class="card-text">{{fantasy.news_title}}</p>
                                                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                                         <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get the latest!</a></p>
                                                    </div>
                                            </div>

                                
                            </div>
                          <div class="col-md-4">
                            <h3>Top Fantasy Players</h3>

                            <p><a href="#"></a>{{fantasy.players}}</p>
                          </div>

                                        <div class="col-md-4">
                                              <h3>Fantasy Strategies</h3>

                                                    <p>If you play in NBA Fantasy leagues, and you’re not punting, you’re not doing it right.
                                                      The idea behind punting is to sacrifice a category in order to be stronger in the other eight categories than
                                                       you would have been if you tried to be competitive in all nine categories. </p>
                                                            <ul>
                                                                  <li>
                                                                        <a href="https://www.elitefantasybasketball.com/2018/09/13/18-19-punting-guides-part-1-punt-assists/">Punt Assist Strategies</a>
                                                                      </li>
                                                                      <li>
                                                                        <a href="https://www.elitefantasybasketball.com/1718-punting-guides/1718-punt-ft/">Punt Ft%</a>
                                                                      </li>
                                                                      <li>
                                                                        <a href="https://www.elitefantasybasketball.com/1718-punting-guides/1718-punt-fg/">Punt Field Goal</a>
                                                                      </li>
                                                                      <li> <a href="https://www.elitefantasybasketball.com/1718-punting-guides/1718-punt-points-punt-pointsft/">Punt Points and FT%</a>
                                                                      </li>

                                                                      <li>
                                                                        <a href="https://www.elitefantasybasketball.com/1718-punting-guides/1718-punt-blocks/">Punt Blocks</a>
                                                                      </li>

                                                                      <li>
                                                                        <a href="https://www.elitefantasybasketball.com/1718-punting-guides/1718-punt-threes/">Punt Threes</a>
                                                                      </li>
                                                              </ul>
                                                       </div>
                                               </div>
                  <div id="parallax2" class="row">
                    <div class="col-md-12">

                    </div>

                  </div>

          </div>
<!--footer  -->
    <div class="footer">
          <p> @ Copyright NBA Fantasy basketball RU </p>
    </div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- End of my Body -->
</body>
</html>
