<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <!-- Required Meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
             <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- css link  -->
          	<link rel="stylesheet" href="style.css">

            <title>NBA Fantasy Destroyer</title>

  </head>

  <!-- Navbar-Beginning -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a id="logo"class="navbar-brand" href="index.html">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://www.nba.com/fantasy/">NBA Fantasy<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fantasy Websites
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://www.espn.com/fantasy/basketball/">ESPN Fantasy</a>
            <a class="dropdown-item" href="https://basketball.fantasysports.yahoo.com/">Yahoo fantasysports</a>
            <a class="dropdown-item" href="https://www.cbssports.com/fantasy/games/basketball/">CBS Fantasy Basketball</a>
            <a class="dropdown-item" href="http://www.rotoworld.com/sports/nba/basketball?ls=roto:nba:gnav">RotoWorld NBA</a>

          </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Template/template.html">Fantasy Analysis<span class="sr-only">(current)<span></a>


          </li>

            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Players
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Kristaps Porzinguis</a>
                  <a class="dropdown-item" href="#">Kevin Knox</a>
                  <a class="dropdown-item" href="#">Frank Nlikita</a>
                  <a class="dropdown-item" href="#">Mitchell Robinson</a>
                  <a class="dropdown-item" href="#">Tim Hardway Jr</a>
                  <a class="dropdown-item" href="#">Mario Henzaga</a>
                  <a class="dropdown-item" href="#">Trey Burke</a>
                  <a class="dropdown-item" href="#">Ernes Kanter</a>
                  <a class="dropdown-item" href="#">Joakim Noah</a>
                  <a class="dropdown-item" href="#">Luke Kornet</a>
                  <a class="dropdown-item" href="#">Damyean Dotson</a>
                  <a class="dropdown-item" href="#">Lance Thomas</a>
                  <a class="dropdown-item" href="#">Courtney Lee</a>
                  <a class="dropdown-item" href="#">Noah Vonleh</a>
                  <a class="dropdown-item" href="#">Ron Baker</a>
                  <a class="dropdown-item" href="#">Emmanuel Mudiay</a>
                </div>
            </li> -->
          </li>
         </ul>
      </div>
</nav>
<!-- Navbar-End  -->
  <!-- body  -->
  <body>
      <div class="container">
              <div class="row">
                  <div class="col-sm-12">

                  <img id="banner-pic"  src="Resources/608145.jpg" alt="NBA-I-love">

                </div>

            </div>

            <div class="row">
            <div class="col-sm-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            </div>
            <!-- Test -->

              <div class="row">
               <div class="col-md-4">

                  <!-- <div id="sidebar"> -->
                    <h2>Top News</h2>
                    <!-- <ul>
                      <li> <small class="date">12.05.09</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </li>
                      <li> <small class="date">12.05.09</small>
                        <p>Donec venenatis varius urna vitae congue.</p>
                      </li>
                      <li> <small class="date">12.05.09</small>
                        <p>Ullam vel neque ut lectus cursus dapibus.</p>
                      </li>
                    </ul> -->

                    <!-- test for card -->
                      <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="Resources/nba.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">{{nba.news-title}}</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <!-- End of test for card -->
                </div>
              <div class="col-md-4">
                <h3>Top Fantasy Players</h3>
                <p><a href="/scrape"></a>{{nba.players}}</p>
              </div>

                <div class="col-md-4">
                  <h3>Fantasy Strategies</h3>

                  <p>If you play in NBA Fantasy leagues, and you’re not punting, you’re not doing it right.
                    The idea behind punting is to sacrifice a category in order to be stronger in the other eight categories than
                     you would have been if you tried to be competitive in all nine categories. </p>
                                  <ul>
                                    <li>
                                      <a href="https://www.elitefantasybasketball.com/2018/09/13/18-19-punting-guides-part-1-punt-assists/">Punt Assist Strategies</a>
                                    </li>
                                    <li>
                                      <a href="https://www.elitefantasybasketball.com/1718-punting-guides/1718-punt-ft/">Punt Ft%</a>
                                    </li>
                                    <li>
                                      <a href="https://www.elitefantasybasketball.com/1718-punting-guides/1718-punt-fg/">Punt Field Goal</a>
                                    </li>
                                    <li> <a href="https://www.elitefantasybasketball.com/1718-punting-guides/1718-punt-points-punt-pointsft/">Punt Points and FT%</a>
                                    </li>

                                    <li>
                                      <a href="https://www.elitefantasybasketball.com/1718-punting-guides/1718-punt-blocks/">Punt Blocks</a>
                                    </li>

                                    <li>
                                      <a href="https://www.elitefantasybasketball.com/1718-punting-guides/1718-punt-threes/">Punt Threes</a>
                                    </li>

                    </ul>

                  </div>

              </div>

            </div>

          </div>
            <!-- End of test  -->
    </div>

<!--footer  -->
<div class="footer">
      <p> @ Copyright NBA Fantasy Destroyer</p>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- End of my Body -->
</body>
</html>
